.maindiv > h1{
    text-align: center;
}
.contentcon1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentcon2{
    padding: 0 10em;
}
.btnlink > a{
    text-decoration: none;
}
#btn{
    margin-left: 35em;
    background-color: grey;
    color: white;
    padding: 5px;
}
